

.iframe-wrapper{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
}
.iframe-content{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
